
.loading{
    width: 500px;
    height: 500px;
    position: relative;
}
.loading::before,.loading::after{
    content: "";
    background: black;
    width: 0;
    height: 0;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    animation: mycircle 1.75s linear infinite;
}
.loading::after{
    animation-delay: 1s;
}

@keyframes mycircle{
    0%{
        width: 0;   height: 0;  opacity: 1;
    }
    100%{
        width: 100px;   height: 100px;  opacity: 0;
    }
}