*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #efefef;
}
a{
    color: inherit;
    text-decoration: none;
}
hr{
    height: 0;
    border: none;
    border-top: 1px solid #dedede;
}
ul,ol{
    list-style: none;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
[data-x].animate{
    animation: slideUp 1s;
}
[data-x].offset{
    transform: translateY(300px);
}
[data-x]{
    transform: translateY(0);
    transition: all  0.5s;
}
@keyframes slideUp{
    0%{
        transform: translateY(300px);
    }
    100%{
        transform: translateY(0);
    }
}
.top-nav-bar.sticky{
    background: white;
    padding: 10px 0;
    box-shadow: 0 0 12px 10px rgb(0, 0, 0,0.25);
    color: #3d4451;
    z-index: 1;
}
.top-nav-bar{
    position: fixed;
    color: #B7B7B7;
    top: 0;
    left: 0;
    padding: 24px 0;
    width: 100%;
    transition: all 0.5s;
}
.top-nav-bar .logo{
    float: left;
    padding-top: 3px;
    padding-bottom: 4px;
    font-size: 24px;
    font-family: "Arial Black";
}
.top-nav-bar .r{
    margin-right: 4px;
    color: #e6686a;
}
.top-nav-bar .esume{
    color: #9a9da2;
}
.top-nav-bar nav{
    float: right;
    padding-top: 7px;
}
.top-nav-bar nav>ul{
    list-style: none;
}
.top-nav-bar nav>ul>li{
    float: left;
    margin-left: 17px;
    margin-right: 17px;
    position: relative;
}
.top-nav-bar nav .submenu{
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background: white;
    color: #3d4451;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    animation: submenuSlide 0.5s;
    cursor: pointer;
}
@keyframes submenuSlide{
    0%{
        margin-right: 100%;
    }
    100%{
        margin-right: 0;
    }
}
.top-nav-bar nav .submenu>li{
    white-space: nowrap;
    padding: 10px 20px;                     /** 不允许换行 **/
}
.top-nav-bar nav li.active>.submenu{
    display: block;
}
.top-nav-bar nav>ul>li>a{
    position: relative;
    font-weight: bold;
    font-size: 12px;
    color: inherit;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
}
.top-nav-bar nav>ul>li.active>a::after,
.top-nav-bar nav>ul>li.highlight>a::after{
    content: '';
    display: block;
    position: absolute;
   background: #e06567;
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    animation: menuSlide 0.5s;
}
@keyframes menuSlide{
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}

.banner{
    background-image: url(./img/bc.jpg);
    background-position: center;
    background-size: cover;
    height: 568px;
}
.top-nav-bar-inner{
    padding: 0 16px;
}
.banner .marsk{
    height: 568px;
    background-color: rgba(0,0,0,0.8);
}
.usercard{
    background-color: #ffffff;
    max-width: 1023px;
    margin: 0 auto;
    box-shadow: 0px 4px 9px 2px rgba(0,0,0,0.3);
}

.usercard .pic{
    float: left;
}
.pic img{
    width: 299px; 
    height: 347px;
}
.welcome{
    display: inline-block;
    background-color: #e8676b;
    color: #ffffff;
    padding: 3px 15px;
    position: relative;
    margin-bottom: 36px;
}
.welcome .triangle{
    position: absolute;
    left: 4px;
    top: 100%;
    display: block;
    border: 10px solid transparent;
    width: 0;
    border-left-color: #e8676b;
    border-top-width: 0;
  }
  .usercard .text{
    width: 540px;
    margin-left: 70px;
    float: left
  }
  .usercard .picANDtext{
    padding-left: 55px;
    padding-top: 65px;
  }
  .usercard .text  h1{
    margin-bottom: 10px;
  }
  .usercard .text hr{
    margin: 30px 0;
  }
  .usercard .text dl dt,
  .usercard .text dl dd{
    float: left;
    margin-bottom: 20px;
  }
  .usercard .text dl dt{
    width: 30%;
    font-weight: bold;
    font-size: 12px;
  }
  .usercard .text dl dd{
    width: 70%;
    color: #b8babf;
    font-size: 15px;
  }
  .usercard .media{
    margin-top: 20px;
    background-color: #e8676b;
    text-align: center;
  }
  .usercard .media a{
    display: inline-block;
    border-radius: 50%;
    width: 45px;
    line-height: 30px;
    padding:  7px 0;
    margin: 20px 35px;
  }
  .usercard .media svg{
    width: 30px;
    height: 30px;
    fill: #ffffff;
    vertical-align: top;
  }
  .usercard .media a:hover{
    background-color: #d05c60;
  }
  main .downloadPDF{
      text-align: center;
  }
  main .download-resume{
      display: inline-block;
      border: 1px solid #cdcfd1;
      vertical-align: top;
      font-weight: bold;
      padding: 21px 55px;
      margin: 40px 0;
      transition-duration: 0.3s;
  }
  main .download-resume:hover{
    box-shadow: 0px 4px 9px 2px rgba(0,0,0,0.2);
  }
  main .resume-text{
    max-width: 1023px;
    margin:0 auto;
    text-align: center;
    line-height: 28px;
  }
main .skills{
    max-width: 1023px;
    margin-left: auto;
    margin-right: auto;
}
main .skills>h2{
    margin: 37px 0;
    font-weight: bold;
    text-align: center;
}
main .skills>ol{
    padding: 0 47px 55px 55px;
    background-color: #ffffff;
    border: 1px solid #c9c9c9;
    box-shadow: 0px 4px 9px 2px rgba(0,0,0,0.2);
}
main .skills>ol>li{
    margin-top: 40px;
    float: left;
    width: 48%;
}
main .skills>ol>li:nth-child(even){
    float: right;
    width: 48%;
}
main .skills>ol>li>h3{
    font-size: 14px;
    margin-bottom: 10px;
}
main .skills>ol>li .progress-bar{
    position: relative;
    height: 5px;
    background-color: #fae1e1;
    border-radius: 2px;
    overflow: hidden;
}
main .skills>ol>li .progress{
    position: absolute;
    background-color: #e8676b;
    width: 80%;
    height: 100%;
    border-radius: 2px;
    transform: translateX(0);
    transition: all 1s;
}
main .skills.offset .progress{
    transform: translateX(-100%);
    
}
main .production{
    max-width: 1023px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
main .production>h2{
    font-weight: bold;
    margin: 90px 0 45px 0;
    text-align: center;
}
main .production>nav{
    display: inline-block;
}
main .production>nav>ol{
    display: inline-block;
    vertical-align: top;
}
main .production>nav>ol>li{
    margin-left: 55px;
    float: left;
    cursor: pointer;
}
main .production>nav>ol>li:nth-child(1){
    margin: 0;
}
main .production-bar{
    margin: 17px 0 33px 0;
    height: 5px;
    background-color:#FFFFFF;
    border-radius: 2px;
}
main .production-bar>.production-bar-inner{
    height: 100%;
    background-color:#e8676b;
    border-radius: 2px;
    transition-duration: 0.7s;
}
main .production-bar.state-1>.production-bar-inner{
    margin-left: 0;
    width: 30px;
}
main .production-bar.state-2>.production-bar-inner{
    margin-left: 60px;
    width: 100px;
}
main .production-bar.state-3>.production-bar-inner{
    margin-left: 172px;
    width: 133px;
}
.works{
    position: relative;
    margin-bottom: 200px;
}
.works>.big{
    position: absolute;
    box-shadow: -1px -4px 9px 0px rgba(0,0,0,0.2);
}
.works>.small{
    position: absolute;
    box-shadow: -1px -4px 9px 0px rgba(0,0,0,0.2);
}








